<%= render partial: 'layouts/breadcrumb_nav', object: @page, locals: {href: "/#{@page.permalink}", location_title: @page.title, show_product: false, show_category: true}%>
<div class="container">
  <h4><%= @page.title %></h4>
  <article>
    <%= @page.content %>
  </article>
</div>