body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e8f5e9;
}

main {
  flex: 1 0 auto;
}

a:link {
  text-decoration: none;
}

.cont {
  padding-right: 2rem;
  padding-left: 2rem;
}

nav .brand-logo {
  padding-left: 1rem;
}

.navpad {
  padding-left: 1rem;
}

.container {
  margin-top: 2rem;
}

.pagination{
  background-color: #e8f5e9;
  box-shadow: none;
  color: teal;
}

.pagination li.active {
    background-color: #66bb6a;
}

a, a:hover {
  color: #00695c;
}

.breadcrumb {
  color: #66bb6a;
}

p a:hover {
  font-weight:bold;
}

.syncofont {
  font-family: 'Syncopate', sans-serif;
  color: white;
}

.permfont {
  font-family: 'Shadows Into Light Two', cursive;
  color: #66bb6a;
  font-size: 1.25rem;
  font-weight:bold;
  letter-spacing: 0.15rem;
}

.sale {
  font-family: 'Shadows Into Light Two', cursive;
  color:#f44336;
  font-size: 1.25rem;
  font-weight:bold;
  letter-spacing: 0.15rem;
}

.products{
  padding: 0.5rem;
}

.btn-large {
  width: 100%;
}

.padding {
  padding-top: 1rem;
}