a:link {
  text-decoration: none;
}

.cont {
  padding-right: 2rem;
  padding-left: 2rem;
}

nav .brand-logo {
  font-family: 'Syncopate', sans-serif;
  color: white;
  padding-left: 1rem;
}

body {
  background-color: #e8f5e9;
}

.pagination{
  background-color: #e8f5e9;
  box-shadow: none;
  color: teal;
}

.pagination li.active {
    background-color: #004d40;
}
