<h4><%= link_to "Home", '/' %> | <%= link_to "Products", '/products' %></h4>
<h2>Categories</h2>
<% if @categories.empty? %>
  <p>There are no categories available.</p>
<% else %>
  <% @categories.each do |category| %>
    <h4><%= link_to "#{category.name}", category %></h4>
  <% end %>
<% end %>
