<h2>Categories</h2>
<% if @categories.empty? %>
  <p>There are no categories available.</p>
<% else %>
  <div class="columns is-multiline">
  <% @categories.each do |category| %>
    <% if category.parent_category_id.nil? %>
    <div class="column is-4">
      <div class="card">
        <div class="card-content">
          <h3 class="title is-4"><%=category.name%></h3>
          <% category.sub_categories.each do |sub_category|%>
            <h4><%= link_to "#{sub_category.name}", sub_category%></h4>
          <%end%>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>

