<%= render partial: 'layouts/breadcrumb_nav', object: @category, locals: {href: "", location_title:  @category.name, show_product: false}%>
<div class="search container">
  <%= render partial: 'products/search'%>
</div>
<div class="container">
  <h4 class="center-align"><%= @category.name %></h4>
  <% if @category.products.empty? %>
    <p>There are no products in this category</p>
  <% else %>
    <div class="row">
      <%= render partial: 'products/product', collection: @category.products %>
    </div>
  <% end %>
</div>
