<h2><%= @category.name %></h2>
<% if @category.products.empty? %>
  <p>There are no products in this category</p>
<% else %>
   <ul>
    <% @category.products.each do |product| %>
      <li><%= link_to product.name, product %></li>
    <% end %>
  </ul>
<% end %>
