<h4><%= link_to "Home", '/' %> | <%= link_to "Products", '/products' %></h4>
<h2><%= @category.name %></h2>
<% if @category.products.empty? %>
  <p>There are no products in this category</p>
<% else %>
  <% @category.products.each do |product| %>
    <h4><%= link_to product.name, product %></h4>
  <% end %>
<% end %>
