<h2>Products</h2>
<% if @products.empty? %>
  <p>There are no products available.</p>
<% else %>
  <% @products.each do |product| %>
    <h4><%= link_to product.name, product %></h4>
  <% end %>
<% end %>
